<header class="header">
  <div class="header__search-container">
    <input class="header__search-request" placeholder="Saisissez le nom d'un contact">
    <img src="/web/img/Icons/Solid/search.svg" class="header__search-loupe">
  </div>
  <div class="header__add-container">
    <img src="/web/img/Icons/Solid/plus.svg">
  </div>
  <div class="header_account-profile">
    <a href="" title="">
      <img src="/web/img/header-profile.png">
    </a>
  </div>
  <div class="add_card hidden">
    <ul class="add_card-list">
      <li>
        <a href="#">
          <img src="/web/img/Icons/Regular/address-book.svg">
          Ajouter un contact
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/web/img/Icons/Solid/clipboard.svg">
          Ajouter une tâche
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/web/img/Icons/Solid/calendar-alt.svg">
          Ajouter un événement
        </a>
      </li>
    </ul>
  </div>
</header>
