<nav class="sidenav">
  <div class="sidenav__logo-container">
    <img src="/web/img/logo-white.png" alt="Logo Press Start">
  </div>
  <ul class="sidenav__list">
    <li class="sidenav__list-item">
      <a href="/">
        <img src="/web/img/Icons/Regular/dashboard.svg">Dashboard
      </a>
    </li>
    <li class="sidenav__list-item">
      <a href="/clients/list" title="">
        <img src="/web/img/Icons/Regular/address-book.svg">Contacts
      </a>
    </li>
    <li class="sidenav__list-item">
      <a href="">
        <img src="/web/img/Icons/Solid/clipboard.svg">Tâches
      </a>
    </li>
    <li class="sidenav__list-item">
      <a href="" title="">
        <img src="/web/img/Icons/Solid/calendar-alt.svg">Agenda
      </a>
    </li>
    <li class="sidenav__list-item">
      <a href="/profil">
        <img src="/web/img/Icons/Solid/user-circle.svg">Mon profil
      </a>
    </li>
  </ul>
  <!-- DÉCONNEXION -->
  <div class="sidenav__log-out">
    <img src="/web/img/Icons/Solid/toggle-off.png">
    <a href=/logout>Déconnexion</a>
  </div>
</nav>
