{% extends 'layout.html.twig' %}

{% block body %}
  <h1>Add Tag</h1>
  <form method="post" action="#">
    <p>
      <label for="name">name</label>
      <input type="text" name="name" id="name" required>
    </p>
    <input type="submit" value="register">
  </form>
{% endblock %}
