<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Press Start</title>
</head>
<body>
  Bonjour ! :) {{ user.username }}
  Nous vous confirmons que la suppression de votre compte {{ user.username }} "{{ user.email }}" a bien été effectué de notre plateforme

  Bien Cordialement,
  Press Start
</body>
</html>
