{% block body %}
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
    Bonjour ! :)
    Votre compte a été créé sur Press Start, veuillez vous rendre sur ce lien pour choisir votre mot de passe et accéder à vos données :
    <a href="{{ link }}">{{ link }}</a>
    </body>
    </html>
{% endblock %}
