{% extends 'layout.html.twig' %}

{% block body %}
  <h1>Add Client</h1>
  <form method="post" action="#">
    <p>
      <label for="username">pseudonyme</label>
      <input type="text" name="username" id="username" required>
    </p>
    <p>
      <label for="email">email</label>
      <input type="email" name="email" id="email" required>
    </p>
    <p>
      <label for="firstname">firstname</label>
      <input type="text" name="firstname" id="firstname">
    </p>
    <p>
      <label for="lastname">lastname</label>
      <input type="text" name="lastname" id="lastname">
    </p>
    <p>
      <label for="mobilePhone">mobilePhone</label>
      <input type="tel" name="mobilePhone" id="mobilePhone">
    </p>
    <p>
      <label for="proPhone">proPhone</label>
      <input type="tel" name="proPhone" id="proPhone">
    </p>
    <p>
      <label for="city">city</label>
      <input type="text" name="city" id="city">
    </p>
    <p>
      <label for="postcode">postcode</label>
      <input type="text" name="postcode" id="postcode">
    </p>
    <p>
      <label for="adress">adress</label>
      <input type="text" name="adress" id="adress">
    </p>
    <p>
      <label for="consoles">consoles</label>
      <input type="text" name="consoles" id="consoles">
    </p>
    <p>
      <label for="website">website</label>
      <input type="text" name="website" id="website">
    </p>
    <p>
      <label for="notes">notes</label>
      <input type="text" name="notes" id="notes">
    </p>
    <p>
      <label for="facebook">facebook</label>
      <input type="text" name="facebook" id="facebook">
    </p>
    <p>
      <label for="youtube">youtube</label>
      <input type="text" name="youtube" id="youtube">
    </p>
    <p>
      <label for="twitch">twitch</label>
      <input type="text" name="twitch" id="twitch">
    </p>
    <p>
      <label for="twitter">twitter</label>
      <input type="text" name="twitter" id="twitter">
    </p>
    <input type="submit" value="add client">
  </form>
{% endblock %}
