<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/web/css/style.min.css">
    <title>Press-Start</title>
    <link rel="stylesheet" type="text/css" href="/web/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,700,900|Orbitron:400,500,700" rel="stylesheet">
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="/web/js/app.min.js"></script>
  </body>
</html>
